nav {
    background-color: #333;
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff0;
}
body {
    background-image: url(../asset/background.png);
    height: 540px;
    width: 960px;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.profile-photo {
    background-color: black;
}

.full-name {
    background-color: #089a96;
    opacity: 80%;
}

.links {
    background-color: #089a96;
    opacity: 80%;
}

.bio {
    background-color: #089a96;
    opacity: 80%;
}

table, td {
    border: 1px solid;
    overflow-wrap: break-word;
}

.bio div > a {
    /* button */
    background-color: #089a96;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 12px;
    width: 150px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

footer:hover {
    opacity: 1;
}
